<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <div class="card-header fw-bold fs-4">
            {{direcciones.alias}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Calle: </b> {{direcciones.street}}</li>
            <li class="list-group-item"><b>Ciudad: </b> {{direcciones.city}}</li>
            <li class="list-group-item"><b>Estado: </b> {{direcciones.state}}</li>
            <li class="list-group-item"><b>Codigo Postal: </b> {{direcciones.zipCode}}</li>
            <li class="list-group-item"><b>Pais: </b> {{direcciones.country}}</li>
            <li class="list-group-item"><b>Creada el: </b> {{direcciones.createAt }}</li>
        </ul>
        <div class="card-body d-flex justify-content-end">
           
            <a href="#" class="btn btn-primary">Editar</a>
        </div>
    </div>
</div>


