
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-header fw-bold fs-4">
                {{cliente.name}}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Apellidos: </b> {{cliente.lastName}}</li>
                <li class="list-group-item"><b>Cedula: </b> {{cliente.cedula}}</li>
                <li class="list-group-item"><b>Fecha de nacimiento: </b> {{cliente.birthDate}}</li>
                <li class="list-group-item"><b>Email: </b> {{cliente.email}}</li>
                <li class="list-group-item"><b>Creada el: </b> {{cliente.createAt | date}}</li>
            </ul>
            <div class="card-body d-flex justify-content-end">
               
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>



            
           
            
       
