<ng-container *ngIf="direcciones  as direccion; else direccionNoEncontrada">
<div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <div class="card-header fw-bold fs-4">
            {{direccion.alias}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Calle: </b> {{direccion.street}}</li>
            <li class="list-group-item"><b>Ciudad: </b> {{direccion.city}}</li>
            <li class="list-group-item"><b>Estado: </b> {{direccion.state}}</li>
            <li class="list-group-item"><b>Codigo Postal: </b> {{direccion.zipCode}}</li>
            <li class="list-group-item"><b>Pais: </b> {{direccion.country}}</li>
            <li class="list-group-item"><b>Creada el: </b> {{direccion.createdAt }}</li>
        </ul>
        <div class="card-body d-flex justify-content-end">
            <a href="#" class="btn btn-primary">Editar</a>
        </div>
    </div>
</div>
</ng-container>

<ng-template #direccionNoEncontrada>
    <div class="alert alert-danger text-center" role="alert">
        Direccion no encontrada
    </div>
</ng-template>
