<div class="d-flex justify-content-evenly mt-5">
    <div class="card" style="width: 25rem;background-color: #e3f2fd;">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">
                Aquí podrás ver los clientes registrados 
            </p>
           <td><a class="btn-primary" [routerLink]="['/clientes']" routerLinkActive="router-link-active" class="btn btn-primary">Ver clientes</a><td>
        </div>
    </div>

    <div class="card" style="width: 25rem;background-color: #e3f2fd;">
        <div class="card-body">
            <h5 class="card-title">Direcciones</h5>
            <p class="card-text">
                Aquí podrás ver las direcciones registradas
            </p>
            <a [routerLink]="['/direcciones']" routerLinkActive="router-link-active"  class="btn btn-primary">Ver direcciones</a>
        </div>
    </div>
</div>